:root[theme='white']{
  /* 颜色相关定义 */
  --color-theme: white;
  --color-header: black;
  --color-title: black;
  --color-desc-main: black;
  --color-desc-sub: black;
  --color-border: black;

  /* 字体大小相关定义 */

}