:root[theme='dark']{
  /* 颜色相关定义 */
  --color-theme: black;
  --color-header: white;
  --color-title: white;
  --color-desc-main: white;
  --color-desc-sub: white;
  --color-border: white;

  /* 字体大小相关定义 */

}