:root[theme='light']{
  /* 基本颜色 */
  --color-normal: #ffffff;
  --color-block: #f8f8f9;
  --color-border: #dcdee2;

  --color-primary: #2d8cf0;
  --color-primary-border: #1c3c5b;
  --color-primary-block: #131e2e;
  --color-primary-lighter: #c6e2ff;

  --color-success: #19be6b;
  --color-success-border: #184f35;
  --color-success-block: #11241f;
  --color-success-lighter: #e1f3d8;

  --color-warning: #ff9900;
  --color-warning-border: #614112;
  --color-warning-block: #302114;
  --color-success-lighter: #faecd8;

  --color-error: #ed4014;
  --color-error-border: #5c2317;
  --color-error-block: #2c1413;
  --color-success-lighter: #fde2e2;

  /* 字体颜色 */
  --font-color-main: #17233d;
  --font-color-regular: #606266;
  --font-color-sub: #909399;
  --font-color-placeholder: #808695;

  /* 字体大小 */
  --font-size-little: 12px;
  --font-size-normal: 14px;
  --font-size-big: 16px;
  --font-size-bigger: 18px;
}